.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex: 0;
    overflow: hidden;

    min-width: 256px;
    border-right: var(--border-medium) 1px solid;

    // box-shadow: 4px 0 8px var(--box-shadow);
}

.header {
    flex: 0;
    border-bottom: var(--border-medium) 1px solid;
    padding: var(--b-l);
}

.header > div:not(:last-child) {
    margin-bottom: var(--b-l);
}

.portInfo {
    flex: 1;
    padding: var(--b-l);
}

.footer {
    flex: 0;
    border-top: var(--border-medium) 1px solid;
    padding: var(--b-l);
}

.empty {
    padding: var(--b-l);
    color: var(--text-disabled);
    font-size: var(--f);
    background-color: var(--fill-ultralight);
    flex-grow: 1;
}

.hidden {
    min-width: 0;
    width: 0;
}