.container {
    width: 55%;
}

.wrapper {
    position: relative;
    width: 100%;
}

.selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-m);
    border-radius: var(--radius);
    height: var(--height);
    padding: 0 var(--b);
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selectedOpen {
    background-color: var(--fill-h);
}

.dropdown {
    position: absolute;
    top: var(--height);
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    border: 1px solid var(--border-m);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    padding: var(--b-xs) 0;
}

.selectedWrapper:hover:not(.disabled) {
    background-color: var(--fill-light);
}

.placeholder {
    color: var(--text-placeholder);
}

.dropdownLabel {
    color: var(--label-light);
    padding: var(--b) var(--b-m) var(--b-s) var(--b-m);
    font-size: var(--f-s);
    text-transform: uppercase;
}

.dropdownItem {
    height: var(--height);
    display: flex;
    align-items: center;
    padding: 0 var(--b);
}

.dropdownItem:hover {
    // background-color: var(--fill-h);
    background-color: var(--positive);
    color: white;
}

.disabled {
    color: var(--text-disabled);
}
