.container {
    min-width: var(--height);
    min-height: var(--height);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.primary {
    background-color: var(--positive);
    color: white;
    border: 1px solid var(--border-m);
    flex-grow: 1;
}

.destructive {
    color: var(--red);
    background-color: white;
}

.positive {
    color: white;
    background-color: var(--positive);
}

.small {
    padding: var(--b-s);
}

.wrapper:hover:not(.disabled) {
    // background-color: var(--fill-light);
    filter: brightness(96%);
}

.disabled {
    cursor: default;
    background-color: white;
    color: var(--text-disabled);
}
