.container {
    min-width: var(--height);
    min-height: var(--height);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
}

.primary {
    background-color: var(--positive);
    color: white;
    border: 1px solid var(--border-m);
    flex-grow: 1;
    justify-content: center;

    p {
        box-sizing: border-box;
        padding: 0 var(--b);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.destructive {
    color: var(--red);
    background-color: white;
}

.positive {
    color: white;
    background-color: var(--positive);
}

.small {
    padding: var(--b-s);
}

.disabled {
    background-color: var(--fill-disabled);
    color: var(--text-disabled);
}
