.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.header {
    height: var(--height-l);
    padding: 0 var(--b-l);
    border-bottom: 1px solid var(--border-l);
    flex-shrink: 0;
}

.body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.tableContainer {
    width: 196px;
    flex-shrink: 0;
    border-right: 1px solid var(--border-l);
    overflow-y: scroll;
    background-color: var(--fill-l);
}

.minorLabel {
    width: 25%;
    color: var(--label-light);
}

.majorLabel {
    color: var(--text-primary);
}

.selectedRow {
    .minorLabel {
        color: var(--label-ultralight);
    }
    .majorLabel {
        color: white;
    }
}

.emptySignalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--text-placeholder);
    background-color: var(--fill-lm);
}

// Table styling
.table {
    background-color: var(--fill-l);
}

.addSignalButton {
    padding: var(--b) var(--b-l);
    color: var(--positive);
    background-color: white;
    border-bottom: 1px solid var(--border-l);
}