.module {
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    // flex-grow: 1;
}

// .content {
//     // background-color: lightblue;
//     display: flex;
//     flex-direction: row;
//     // align-items: stretch;
//     // justify-content: flex-start;
//     // flex-grow: 1;
//     // overflow-x: hidden;
// }

.threeContainerFullWidth {
    // height: 60vh;
    // background-color: mediumturquoise;
    // padding: var(--b-l);
    // overflow-x: hidden;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


.threeRenderer {
    // ThreeJS div container
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--scene-bg-light);
    // border-radius: var(--root-border-radius);
    // border-bottom: 1px solid var(--border-medium);
    // box-sizing: border-box;
    // width: inherit;
    overflow: hidden;
    position: relative;

    // ThreeJS rendering canvas
    canvas {
        flex-grow: 1;
        overflow: hidden;
        outline: none;
        cursor: orbit;
        // border: 1px solid red;
    }
}

.glPlot {
    width: 400px;
    height: 400px;
}