.module {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}

.container {
    // background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-x: hidden;
}

.controlPanel {
    // justify-self: stretch;
    flex-basis: 24vw;
}

.threeContainerFullWidth {
    height: 60vh;
    // background-color: mediumturquoise;
    // padding: var(--b-l);
    overflow-x: hidden;
}

.chartContainer {
    // background-color: lightgray;
    width: 500px;
    height: 200px;

    canvas {
    }
}


.threeRenderer {
    // ThreeJS div container
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--scene-bg-light);
    // border-radius: var(--root-border-radius);
    // border: 1px solid var(--border-medium);
    width: inherit;
    overflow: hidden;
    position: relative;

    // ThreeJS rendering canvas
    canvas {
        flex-grow: 1;
        overflow: hidden;
        outline: none;
        cursor: orbit;
        // border: 1px solid red;
    }
}