.container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    overflow: hidden;
}

.column {
    width: 216px;
    border-right: 1px solid var(--border-l);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--fill-l);
}

.configurationSelector {
    @extend .column;
    justify-content: space-between;
}

.configurationPanel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.signalSelector {
    @extend .column;
}

.actionWrapper {
    padding: var(--b-l);
    background-color: white;
    border-top: 1px solid var(--border-l);
}