.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tab {
    cursor: pointer;
    padding: var(--b-m) 0;
    border-bottom: 2px solid transparent;
    color: var(--label-light);
    box-sizing: border-box;
    margin: 0 var(--b-m);
}

.tabSelected {
    border-bottom: 2px solid var(--positive);
    color: var(--primary);
}
