.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 1px solid var(--border-medium);
    // background-color: lightgreen;
    padding: var(--b-l);
}

.item {
    width: 32px;
    height: 32px;
    border-radius: var(--root-border-radius);
    border: 1px solid var(--border-medium);
    margin-bottom: var(--b-l);
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;

        g { *:not(:first-child) {
            stroke: var(--text-disabled);
        }}
    }
}

.item:not(.selected) {
    .item:hover {
        opacity: 50%;
    }
}

.selected {
    // background-color: blue;
    svg { g { *:not(:first-child) {
        stroke: black;
    }}}
}