.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--text-placeholder);
    // background-color: var(--fill-lm);
}