.container {
    // overflow-y: scroll;
    overflow: hidden;
    flex-grow: 1;
}


.plot {
    background-color: grey;
    border: 1px solid red;

    canvas {
        background-color: blue;
    }
}