.container {
    height: 28px;
    display: flex;
    flex-direction: row;
    background-color: var(--fill);
    // width: 164px;
    border-radius: calc(2 * var(--radius));
    // border-radius: 15px;
    cursor: pointer;
}

.option {
    min-width: 82px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: calc(2 * var(--radius));
    // border-radius: 4px;
    cursor: pointer;
    color: var(--label-light);
}

.selected {
    background-color: var(--positive);
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
