.tableContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.tableRow {
    width: 100%;
    box-sizing: border-box;
    min-height: var(--height-m);
    padding: var(--b) var(--b-l);
    border-bottom: 1px solid var(--border-l);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tableRowSelected {
    background-color: var(--positive);
    color: white;
}