.container {
    height: 18px;
    width: 36px;
    background-color: white;
    border-radius: 9px;
    transition: background-color 100ms;
    border: 1px solid var(--border-medium);
}

.button {
    // width: 20px;
    // height: 20px;
    width: 16px;
    height: 16px;
    // fill: white;
    border-radius: 12px;
    // background-color: var(--positive);
    background-color: var(--fill);
    transition: background-color 200ms, transform 100ms, box-shadow 100ms;
    transform: translateX(1px) translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

    .relish {
        width: 2px;
        height: 8px;
        border-radius: 1px;
        background-color: var(--fill);
        transition: background-color 100ms;
    }
}

.containerOn {
    background-color: var(--positive);
}

.buttonOn {
    // transform: translateX(19px) translateY(-1px);
    transform: translateX(19px) translateY(1px);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .relish {
        background-color: var(--positive);
    }

}