:root {
    --blue: #0000ff;
    --green: #36c346;
    --red: #eb0202;

    --positive: #2972e6;

    --text-placeholder: #8d8d8d;

    --label-light: #8d8d8d;
    --label-dark: #5f5f5f;

    --text-disabled: #bbbbbb;

    --border-medium: #e5e5e5;
    --border-light: #e8e8e8;
    --border-l: #efefef;

    --fill-l: #fafafa;
    --fill-lm: #f8f8f8;
    --fill-m: #efefef;

    --fill-h: #f8f8f8;

    --fill: #e4e4e4;
    --fill-light: #f4f4f4;
    --fill-ultralight: #fafafa;
    --fill-light-hover: #e8e8e8;

    --scene-bg-light: #f4f4f4;

    --root-border-radius: 4px;

    --box-shadow: rgba(0, 0, 0, 0.08);
    --box-shadow-light: 0 0 8px var(--box-shadow);

    --b-xs: 2px;
    --b-s: 4px;
    --b: 8px;
    --b-m: 12px;
    --b-l: 8px;
    --b-xl: 32px;

    --f-xs: 8px;
    --f-ss: 10px;
    --f-s: 12px;
    --f: 14px;
    --f-m: 18px;
    --f-l: 24px;
}
