:root {
    --blue: #0000ff;
    --green: #36c346;
    --red: #eb0202;

    --positive: #4185f0;

    --text-placeholder: #8d8d8d;

    --label-light: #8d8d8d;
    --label-dark: #5f5f5f;

    --text-disabled: #bbbbbb;

    --border-medium: #e5e5e5;
    --border-light: #e8e8e8;

    --border-d: #d8d8d8;
    --border-m: #e5e5e5;
    --border-l: #efefef;

    --fill-l: #fafafa;
    --fill-lm: #f8f8f8;
    --fill-m: #efefef;
    --fill-h: #f8f8f8;

    --fill-disabled: #f8f8f8;

    --fill: #e4e4e4;
    --fill-light: #f4f4f4;
    --fill-ultralight: #fafafa;
    --fill-light-hover: #e8e8e8;

    --scene-bg-light: #f4f4f4;

    --radius: 4px;

    --box-shadow-color: rgba(0, 0, 0, 0.08);
    --box-shadow: 0 3px 5px var(--box-shadow-color);
    --box-shadow-light: 0 0 8px var(--box-shadow-color);

    --b-xs: 0.3rem;
    --b-s: 0.5rem;
    --b: 0.6rem;
    --b-m: 0.8rem;
    --b-l: 1.0rem;
    --b-xl: 1.4rem;

    --f-xs: 0.4rem;
    --f-ss: 0.6rem;
    --f-s: 0.8rem;
    --f: 1.0rem;
    --f-m: 1.2rem;
    --f-l: 1.4rem;
    --f-xl: 1.6rem;

    --input-xs: 1.0rem;
    --input-s: 1.4rem;
    --height: 1.8rem;
    --height-input-row: calc(var(--height) * 1.5);
    --height-l: 3.0rem;
}
