.container {
    width: 100vw;
    height: 100vh;
    -webkit-app-region: drag;
    background-color: var(--fill-ul);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.mainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.content {
    padding: var(--b-xxl);
    flex-grow: 1;
    border-right: 1px solid var(--border-m);
}

.tableContainer {
    flex-basis: 128px;
    max-width: 256px;
    background-color: var(--fill-l);
}

.workspaceRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: inherit;
    padding: var(--b) var(--b-l);
    box-sizing: border-box;
    width: 100%;
}

.workspaceLabel {
    width: 100%;
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.workspaceName {
    @extend .workspaceLabel; 
}

.workspacePath {
    @extend .workspaceLabel;
    color: var(--label);
}

.selectedRow {
    .workspaceName {
        color: white
    }
    
    .workspacePath {
        color: white;
    }
    
}


.emptyTable {
    padding: var(--b-l);
    color: var(--label);
}

.actionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--b-l) var(--b-l);
    border-top: 1px solid var(--border-m);
}

.leftActions {
    padding: 0 var(--b-l)
}

.rightActions {
    display: flex;
    flex-direction:  row;
}

.title {
    font-weight: 500;
    font-size: 2.0rem;
    margin-bottom: var(--b-s);
}

.version {
    font-weight: 400;
    font-size: var(--f);
    color: var(--label-dark);
}

.button {
    width: 80px;
    flex-grow: 0;
}

.button:not(:last-child) {
    margin-right: var(--b-l);
}